{% extends "base.html" %}

{% block content %}
  <section class="jumbotron">
    <div class="container">
      <div class="btn-group">
            <ol class="breadcrumb hide-phone p-0 m-0">
                <li class="breadcrumb-item">
                    <a href="/">Inicio</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'linea-consulta' %}">Consultar</a>
                </li>
            </ol>
        </div>
    </div>
  </section>

  <div class="py-5 bg-light">
    <div class="container">
<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="header-title mb-4">Formulario de consulta</h4>
            <div class="row">
                 {%if centinela == 1 %}
                    {% include "ficha/menu.html" %}
                {%endif%}
                <div class="col-md-10 mx-auto">
                <form action="." method="POST">{% csrf_token %}
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="fecha">Fecha</label>
                        {{form.fecha}}
                    </div>
                    <div class="col-sm-6">
                        <label for="municipio">Pais</label>
                        {{form.pais}}
                    </div>
                </div>
                <div class="form-group row">
                <div class="col-sm-6">
                        <label for="organizacion">Modelo</label>
                        {{form.modelo}}
                    </div>
                    <div class="col-sm-6">
                        <label for="comunidad">Tipo de manejo</label>
                        {{form.manejo}}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="pais">Tamaño de la parcela</label>
                        {{form.parcela}}
                    </div>
                    <div class="col-sm-6">
                        <label for="sexo">Intensidad de manejo</label>
                        {{form.intensidad}}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="departamento">Riego</label>
                        {{form.riego}}
                    </div>
                        <div class="col-sm-6">
                            <label for="productor">sexo</label>
                            {{form.sexo}}
                        </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="departamento">Tipo SAF</label>
                        {{form.saf}}
                    </div>
                    {% if request.user.is_authenticated %}
                        <div class="col-sm-6">
                            <label for="productor">Productor</label>
                            {{form.productor}}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="departamento">Valoración de suelo</label>
                        {{form.valoracion}}
                    </div>
                </div>
                 <div class="d-flex justify-content-center">
                    <input type="submit" value="Consultar" id="boton" class="btn btn-success center-block"/>
                </div>
            </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock content %}

{% block extra_js %}
<link href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript">
jQuery(document).ready(function () {
    // Select2
    $(".select2").select2();
    $('#id_fecha').select2();
});

$("#id_productor").autocomplete({
    source: '{% url "productor-search"%}',
    minLength: 2,
  });

$('.botonera').slideDown('slow');

$("#id_pais").change(function () {
      var url = '/ajax/load-departamentos/'
      var paisId = $("#id_pais").val();

    $.ajax({
        url: url,
        data: {
          'pais': paisId
        },
        success: function (data) {
          $("#id_departamento").html(data);
        }
    });
 });

$("#id_departamento").change(function () {
      var url = '/ajax/load-municipios/'
      var departamentoId = $("#id_departamento").val();

    $.ajax({
        url: url,
        data: {
          'departamento': departamentoId
        },
        success: function (data) {
          $("#id_municipio").html(data);
        }
    });
 });

$("#id_municipio").change(function () {
      var url = '/ajax/load-comunidad/'
      var municipioId = $("#id_municipio").val();

    $.ajax({
        url: url,
        data: {
          'municipio': municipioId
        },
        success: function (data) {
          $("#id_comunidad").html(data);
        }
    });
 });

</script>
{% endblock extra_js %}
