<form action="." method="POST">{% csrf_token %}
                <div class="form-group">
                        <label for="fecha">Fecha</label>
                        {{form.fecha}}
                </div>
                <div class="form-group">
                        <label for="municipio">Pais</label>
                        {{form.pais}}
                </div>
                <div class="form-group">
                        <label for="organizacion">Modelo</label>
                        {{form.modelo}}
                </div>
                <div class="form-group">
                        <label for="comunidad">Tipo de manejo</label>
                        {{form.manejo}}
                </div>
                <div class="form-group">
                        <label for="pais">Tamaño de la parcela</label>
                        {{form.parcela}}
                </div>
                <div class="form-group">
                        <label for="sexo">Intensidad de manejo</label>
                        {{form.intensidad}}
                </div>
                <div class="form-group">
                        <label for="departamento">Riego</label>
                        {{form.riego}}
                </div>
                <div class="form-group">
                            <label for="productor">sexo</label>
                            {{form.sexo}}
                </div>
                <div class="form-group">
                        <label for="departamento">Tipo SAF</label>
                        {{form.saf}}
                </div>
                <div class="form-group">
                    <label for="departamento">Valoración de suelo</label>
                        {{form.valoracion}}
                </div>
                <div class="form-group">
                    {% if request.user.is_authenticated %}
                            <label for="productor">Productor</label>
                            {{form.productor}}
                    {% endif %}
                </div>
                 <div class="">
                    <input type="submit" value="Consultar" id="boton" class="btn btn-success"/>
                </div>
            </form>
