{% extends "base.html" %}

{% load tools %}

{% block content %}
  <section class="jumbotron text-center">
    <div class="container">
        <div class="btn-group">
            <ol class="breadcrumb hide-phone p-0 m-0">
                <li class="breadcrumb-item">
                    <a href="/">Inicio</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'linea-consulta' %}">Consultar</a>
                </li>
            </ol>
        </div>
    <p>Numero de familas {{num_familias}}</p>

        <span class="navbar-text">
           <div id="mas" class="btnindicador">
                <a href="">
                    <span id="estado">
                    <span><i class="fa fa-arrow-down"></i></span>
                    </span> Cambiar de Indicador
                </a>
            </div>
        </span>

      <div class="row">
        <div id="mostrar">
            {% include "ficha/menu.html" %}
        </div>
    </div>

    </div>
  </section>

  <section>
<div class="row mb-20">
<div class="container">
    {% include "ficha/filtros.html" %}
    <div class="card-admin bg-white">
        <div class="card-body">
            <div class="col-md-12 col-lg-12">
                <h4 class="title line-bottom mb-10">Costo proyectado de etapas USD/ha por año   </h4>
                <ul>
                    <li>Número de parcelas: <strong>{{numero_total_parcela}}</strong></li>
                    <li>Areas de las parcelas (ha) total: <strong>{{promedio_areas|floatformat:2}}</strong> </li>
                    <table>
                        <th>Costo de mano de obra</th>
                        <td>[ Minimo: <strong>{{min_costo|floatformat:1}}</strong>] </td>
                        <td>[Promedio: <strong>{{promedio_costo|floatformat:1}}</strong>] </td>
                        <td>[Mediana: <strong>{{median_costo|floatformat:1}}</strong>] </td>
                        <td>[Maximo: <strong>{{max_costo|floatformat:1}}</strong>] </td>
                    </table>
                </ul>
                <table class="table table-bordered big-table">
                    <thead class="bg-theme-colored-darker3">
                        <tr>
                            <th></th>
                            <th></th>
                            <th colspan="3" class="text-center">Establecimiento</th>
                            <th colspan="3" class="text-center">Desarrollo</th>
                            <th colspan="3" class="text-center">Producción</th>
                        </tr>
                        <tr>
                            <th>Rubro</th>
                            <th>Tipo de costo</th>
                            <th>Mediana</th>
                            <th>Minimo</th>
                            <th>Maximo</th>
                            <th>Mediana</th>
                            <th>Minimo</th>
                            <th>Maximo</th>
                            <th>Mediana</th>
                            <th>Minimo</th>
                            <th>Maximo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="3" class="text-center">CACAO</td>
                            <td>Uso de MO</td>
                            <td>{{costo_cacao.0|floatformat:2}}</td>
                            <td>{{costo_cacao.1|floatformat:2}}</td>
                            <td>{{costo_cacao.2|floatformat:2}}</td>
                            <td>{{costo_cacao.3|floatformat:2}}</td>
                            <td>{{costo_cacao.4|floatformat:2}}</td>
                            <td>{{costo_cacao.5|floatformat:2}}</td>
                            <td>{{costo_cacao.6|floatformat:2}}</td>
                            <td>{{costo_cacao.7|floatformat:2}}</td>
                            <td>{{costo_cacao.8|floatformat:2}}</td>
                       </tr>
                       <tr>
                           <td>Costo de insumos</td>
                            <td>{{costo_cacao_insumos.0|floatformat:2}}</td>
                            <td>{{costo_cacao_insumos.1|floatformat:2}}</td>
                            <td>{{costo_cacao_insumos.2|floatformat:2}}</td>
                            <td>{{costo_cacao_insumos.3|floatformat:2}}</td>
                            <td>{{costo_cacao_insumos.4|floatformat:2}}</td>
                            <td>{{costo_cacao_insumos.5|floatformat:2}}</td>
                            <td>{{costo_cacao_insumos.6|floatformat:2}}</td>
                            <td>{{costo_cacao_insumos.7|floatformat:2}}</td>
                            <td>{{costo_cacao_insumos.8|floatformat:2}}</td>
                       </tr>
                       <tr>
                           <td>Total</td>
                            <td>{{costo_cacao_insumos_total.0|floatformat:2}}</td>
                            <td>{{costo_cacao_insumos_total.1|floatformat:2}}</td>
                            <td>{{costo_cacao_insumos_total.2|floatformat:2}}</td>
                            <td>{{costo_cacao_insumos_total.3|floatformat:2}}</td>
                            <td>{{costo_cacao_insumos_total.4|floatformat:2}}</td>
                            <td>{{costo_cacao_insumos_total.5|floatformat:2}}</td>
                            <td>{{costo_cacao_insumos_total.6|floatformat:2}}</td>
                            <td>{{costo_cacao_insumos_total.7|floatformat:2}}</td>
                            <td>{{costo_cacao_insumos_total.8|floatformat:2}}</td>
                       </tr>

                    </tbody>
                </table>
                <table class="table table-bordered big-table">
                    <thead class="bg-theme-colored-darker3">
                        <tr>
                            <th></th>
                            <th></th>
                            <th colspan="3" class="text-center">Establecimiento</th>
                            <th colspan="3" class="text-center">Desarrollo</th>
                            <th colspan="3" class="text-center">Producción</th>
                        </tr>
                        <tr>
                            <th>Rubro</th>
                            <th>Tipo de costo</th>
                            <th>Mediana</th>
                            <th>Minimo</th>
                            <th>Maximo</th>
                            <th>Mediana</th>
                            <th>Minimo</th>
                            <th>Maximo</th>
                            <th>Mediana</th>
                            <th>Minimo</th>
                            <th>Maximo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="3" class="text-center">CAFÉ</td>
                            <td>Uso de MO</td>
                            <td>{{costo_cafe.0|floatformat:2}}</td>
                            <td>{{costo_cafe.1|floatformat:2}}</td>
                            <td>{{costo_cafe.2|floatformat:2}}</td>
                            <td>{{costo_cafe.3|floatformat:2}}</td>
                            <td>{{costo_cafe.4|floatformat:2}}</td>
                            <td>{{costo_cafe.5|floatformat:2}}</td>
                            <td>{{costo_cafe.6|floatformat:2}}</td>
                            <td>{{costo_cafe.7|floatformat:2}}</td>
                            <td>{{costo_cafe.8|floatformat:2}}</td>
                       </tr>
                       <tr>
                           <td>Costo de insumos</td>
                            <td>{{costo_cafe_insumos.0|floatformat:2}}</td>
                            <td>{{costo_cafe_insumos.1|floatformat:2}}</td>
                            <td>{{costo_cafe_insumos.2|floatformat:2}}</td>
                            <td>{{costo_cafe_insumos.3|floatformat:2}}</td>
                            <td>{{costo_cafe_insumos.4|floatformat:2}}</td>
                            <td>{{costo_cafe_insumos.5|floatformat:2}}</td>
                            <td>{{costo_cafe_insumos.6|floatformat:2}}</td>
                            <td>{{costo_cafe_insumos.7|floatformat:2}}</td>
                            <td>{{costo_cafe_insumos.8|floatformat:2}}</td>
                       </tr>
                       <tr>
                           <td>Total</td>
                            <td>{{costo_cafe_insumos_total.0|floatformat:2}}</td>
                            <td>{{costo_cafe_insumos_total.1|floatformat:2}}</td>
                            <td>{{costo_cafe_insumos_total.2|floatformat:2}}</td>
                            <td>{{costo_cafe_insumos_total.3|floatformat:2}}</td>
                            <td>{{costo_cafe_insumos_total.4|floatformat:2}}</td>
                            <td>{{costo_cafe_insumos_total.5|floatformat:2}}</td>
                            <td>{{costo_cafe_insumos_total.6|floatformat:2}}</td>
                            <td>{{costo_cafe_insumos_total.7|floatformat:2}}</td>
                            <td>{{costo_cafe_insumos_total.8|floatformat:2}}</td>
                       </tr>

                    </tbody>
                </table>
                <table class="table table-bordered big-table">
                    <thead class="bg-theme-colored-darker3">
                        <tr>
                            <th></th>
                            <th></th>
                            <th colspan="3" class="text-center">Establecimiento</th>
                            <th colspan="3" class="text-center">Producción</th>
                        </tr>
                        <tr>
                            <th>Rubro</th>
                            <th>Tipo de costo</th>
                            <th>Mediana</th>
                            <th>Minimo</th>
                            <th>Maximo</th>
                            <th>Mediana</th>
                            <th>Minimo</th>
                            <th>Maximo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="3" class="text-center">MUSACEAS</td>
                            <td>Uso de MO</td>
                            <td>{{costo_musaceas.0|floatformat:2}}</td>
                            <td>{{costo_musaceas.1|floatformat:2}}</td>
                            <td>{{costo_musaceas.2|floatformat:2}}</td>
                            <td>{{costo_musaceas.3|floatformat:2}}</td>
                            <td>{{costo_musaceas.4|floatformat:2}}</td>
                            <td>{{costo_musaceas.5|floatformat:2}}</td>
                       </tr>
                       <tr>
                           <td>Costo de insumos</td>
                            <td>{{costo_musaceas_insumos.0|floatformat:2}}</td>
                            <td>{{costo_musaceas_insumos.1|floatformat:2}}</td>
                            <td>{{costo_musaceas_insumos.2|floatformat:2}}</td>
                            <td>{{costo_musaceas_insumos.3|floatformat:2}}</td>
                            <td>{{costo_musaceas_insumos.4|floatformat:2}}</td>
                            <td>{{costo_musaceas_insumos.5|floatformat:2}}</td>
                       </tr>
                       <tr>
                           <td>Total</td>
                            <td>{{costo_musaceas_insumos_total.0|floatformat:2}}</td>
                            <td>{{costo_musaceas_insumos_total.1|floatformat:2}}</td>
                            <td>{{costo_musaceas_insumos_total.2|floatformat:2}}</td>
                            <td>{{costo_musaceas_insumos_total.3|floatformat:2}}</td>
                            <td>{{costo_musaceas_insumos_total.4|floatformat:2}}</td>
                            <td>{{costo_musaceas_insumos_total.5|floatformat:2}}</td>
                       </tr>
                    </tbody>
                </table>
                <table class="table table-bordered big-table">
                    <thead class="bg-theme-colored-darker3">
                        <tr>
                            <th></th>
                            <th></th>
                            <th colspan="3" class="text-center">Establecimiento</th>
                            <th colspan="3" class="text-center">Desarrollo</th>
                            <th colspan="3" class="text-center">Producción</th>
                        </tr>
                        <tr>
                            <th>Rubro</th>
                            <th>Tipo de costo</th>
                            <th>Mediana</th>
                            <th>Minimo</th>
                            <th>Maximo</th>
                            <th>Mediana</th>
                            <th>Minimo</th>
                            <th>Maximo</th>
                            <th>Mediana</th>
                            <th>Minimo</th>
                            <th>Maximo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="3" class="text-center">FRUTALES</td>
                            <td>Uso de MO</td>
                            <td>{{costo_frutales.0|floatformat:2}}</td>
                            <td>{{costo_frutales.1|floatformat:2}}</td>
                            <td>{{costo_frutales.2|floatformat:2}}</td>
                            <td>{{costo_frutales.3|floatformat:2}}</td>
                            <td>{{costo_frutales.4|floatformat:2}}</td>
                            <td>{{costo_frutales.5|floatformat:2}}</td>
                            <td>{{costo_frutales.6|floatformat:2}}</td>
                            <td>{{costo_frutales.7|floatformat:2}}</td>
                            <td>{{costo_frutales.8|floatformat:2}}</td>
                       </tr>
                       <tr>
                           <td>Costo de insumos</td>
                            <td>{{costo_frutales_insumos.0|floatformat:2}}</td>
                            <td>{{costo_frutales_insumos.1|floatformat:2}}</td>
                            <td>{{costo_frutales_insumos.2|floatformat:2}}</td>
                            <td>{{costo_frutales_insumos.3|floatformat:2}}</td>
                            <td>{{costo_frutales_insumos.4|floatformat:2}}</td>
                            <td>{{costo_frutales_insumos.5|floatformat:2}}</td>
                            <td>{{costo_frutales_insumos.6|floatformat:2}}</td>
                            <td>{{costo_frutales_insumos.7|floatformat:2}}</td>
                            <td>{{costo_frutales_insumos.8|floatformat:2}}</td>
                       </tr>
                       <tr>
                           <td>Total</td>
                            <td>{{costo_frutales_insumos_total.0|floatformat:2}}</td>
                            <td>{{costo_frutales_insumos_total.1|floatformat:2}}</td>
                            <td>{{costo_frutales_insumos_total.2|floatformat:2}}</td>
                            <td>{{costo_frutales_insumos_total.3|floatformat:2}}</td>
                            <td>{{costo_frutales_insumos_total.4|floatformat:2}}</td>
                            <td>{{costo_frutales_insumos_total.5|floatformat:2}}</td>
                            <td>{{costo_frutales_insumos_total.6|floatformat:2}}</td>
                            <td>{{costo_frutales_insumos_total.7|floatformat:2}}</td>
                            <td>{{costo_frutales_insumos_total.8|floatformat:2}}</td>
                       </tr>

                    </tbody>
                </table>
                <table class="table table-bordered big-table">
                    <thead class="bg-theme-colored-darker3">
                        <tr>
                            <th></th>
                            <th></th>
                            <th colspan="3" class="text-center">Establecimiento</th>
                            <th colspan="3" class="text-center">Desarrollo</th>
                            <th colspan="3" class="text-center">Producción</th>
                        </tr>
                        <tr>
                            <th>Rubro</th>
                            <th>Tipo de costo</th>
                            <th>Mediana</th>
                            <th>Minimo</th>
                            <th>Maximo</th>
                            <th>Mediana</th>
                            <th>Minimo</th>
                            <th>Maximo</th>
                            <th>Mediana</th>
                            <th>Minimo</th>
                            <th>Maximo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="3" class="text-center">MADERABLES</td>
                            <td>Uso de MO</td>
                            <td>{{costo_maderables.0|floatformat:2}}</td>
                            <td>{{costo_maderables.1|floatformat:2}}</td>
                            <td>{{costo_maderables.2|floatformat:2}}</td>
                            <td>{{costo_maderables.3|floatformat:2}}</td>
                            <td>{{costo_maderables.4|floatformat:2}}</td>
                            <td>{{costo_maderables.5|floatformat:2}}</td>
                            <td>{{costo_maderables.6|floatformat:2}}</td>
                            <td>{{costo_maderables.7|floatformat:2}}</td>
                            <td>{{costo_maderables.8|floatformat:2}}</td>
                       </tr>
                       <tr>
                           <td>Costo de insumos</td>
                            <td>{{costo_maderables_insumos.0|floatformat:2}}</td>
                            <td>{{costo_maderables_insumos.1|floatformat:2}}</td>
                            <td>{{costo_maderables_insumos.2|floatformat:2}}</td>
                            <td>{{costo_maderables_insumos.3|floatformat:2}}</td>
                            <td>{{costo_maderables_insumos.4|floatformat:2}}</td>
                            <td>{{costo_maderables_insumos.5|floatformat:2}}</td>
                            <td>{{costo_maderables_insumos.6|floatformat:2}}</td>
                            <td>{{costo_maderables_insumos.7|floatformat:2}}</td>
                            <td>{{costo_maderables_insumos.8|floatformat:2}}</td>
                       </tr>
                       <tr>
                           <td>Total</td>
                            <td>{{costo_maderables_insumos_total.0|floatformat:2}}</td>
                            <td>{{costo_maderables_insumos_total.1|floatformat:2}}</td>
                            <td>{{costo_maderables_insumos_total.2|floatformat:2}}</td>
                            <td>{{costo_maderables_insumos_total.3|floatformat:2}}</td>
                            <td>{{costo_maderables_insumos_total.4|floatformat:2}}</td>
                            <td>{{costo_maderables_insumos_total.5|floatformat:2}}</td>
                            <td>{{costo_maderables_insumos_total.6|floatformat:2}}</td>
                            <td>{{costo_maderables_insumos_total.7|floatformat:2}}</td>
                            <td>{{costo_maderables_insumos_total.8|floatformat:2}}</td>
                       </tr>
                    </tbody>
                </table>
                <table class="table table-bordered big-table">
                    <thead class="bg-theme-colored-darker3">
                        <tr>
                            <th></th>
                            <th></th>
                            <th colspan="3" class="text-center">Establecimiento</th>
                            <th colspan="3" class="text-center">Desarrollo</th>
                            <th colspan="3" class="text-center">Producción</th>
                        </tr>
                        <tr>
                            <th>Rubro</th>
                            <th>Tipo de costo</th>
                            <th>Mediana</th>
                            <th>Minimo</th>
                            <th>Maximo</th>
                            <th>Mediana</th>
                            <th>Minimo</th>
                            <th>Maximo</th>
                            <th>Mediana</th>
                            <th>Minimo</th>
                            <th>Maximo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="3" class="text-center">ÁRBOLES DE SERVICIOS</td>
                            <td>Uso de MO</td>
                            <td>{{costo_arboles.0|floatformat:2}}</td>
                            <td>{{costo_arboles.1|floatformat:2}}</td>
                            <td>{{costo_arboles.2|floatformat:2}}</td>
                            <td>{{costo_arboles.3|floatformat:2}}</td>
                            <td>{{costo_arboles.4|floatformat:2}}</td>
                            <td>{{costo_arboles.5|floatformat:2}}</td>
                            <td>{{costo_arboles.6|floatformat:2}}</td>
                            <td>{{costo_arboles.7|floatformat:2}}</td>
                            <td>{{costo_arboles.8|floatformat:2}}</td>
                       </tr>
                       <tr>
                           <td>Costo de insumos</td>
                            <td>{{costo_arboles_insumos.0|floatformat:2}}</td>
                            <td>{{costo_arboles_insumos.1|floatformat:2}}</td>
                            <td>{{costo_arboles_insumos.2|floatformat:2}}</td>
                            <td>{{costo_arboles_insumos.3|floatformat:2}}</td>
                            <td>{{costo_arboles_insumos.4|floatformat:2}}</td>
                            <td>{{costo_arboles_insumos.5|floatformat:2}}</td>
                            <td>{{costo_arboles_insumos.6|floatformat:2}}</td>
                            <td>{{costo_arboles_insumos.7|floatformat:2}}</td>
                            <td>{{costo_arboles_insumos.8|floatformat:2}}</td>
                       </tr>
                       <tr>
                           <td>Total</td>
                            <td>{{costo_arboles_insumos_total.0|floatformat:2}}</td>
                            <td>{{costo_arboles_insumos_total.1|floatformat:2}}</td>
                            <td>{{costo_arboles_insumos_total.2|floatformat:2}}</td>
                            <td>{{costo_arboles_insumos_total.3|floatformat:2}}</td>
                            <td>{{costo_arboles_insumos_total.4|floatformat:2}}</td>
                            <td>{{costo_arboles_insumos_total.5|floatformat:2}}</td>
                            <td>{{costo_arboles_insumos_total.6|floatformat:2}}</td>
                            <td>{{costo_arboles_insumos_total.7|floatformat:2}}</td>
                            <td>{{costo_arboles_insumos_total.8|floatformat:2}}</td>
                       </tr>
                    </tbody>
                </table>
                <table class="table table-bordered big-table">
                    <thead class="bg-theme-colored-darker3">
                        <tr>
                            <th></th>
                            <th></th>
                            <th colspan="3" class="text-center">Producción</th>
                        </tr>
                        <tr>
                            <th>Rubro</th>
                            <th>Tipo de costo</th>
                            <th>Mediana</th>
                            <th>Minimo</th>
                            <th>Maximo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="3" class="text-center">GRANOS BÁSICOS</td>
                            <td>Uso de MO</td>
                            <td>{{costo_granos.0|floatformat:2}}</td>
                            <td>{{costo_granos.1|floatformat:2}}</td>
                            <td>{{costo_granos.2|floatformat:2}}</td>
                       </tr>
                       <tr>
                           <td>Costo de insumos</td>
                            <td>{{costo_granos_insumos.0|floatformat:2}}</td>
                            <td>{{costo_granos_insumos.1|floatformat:2}}</td>
                            <td>{{costo_granos_insumos.2|floatformat:2}}</td>
                       </tr>
                       <tr>
                           <td>Total</td>
                            <td>{{costo_granos_insumos_total.0|floatformat:2}}</td>
                            <td>{{costo_granos_insumos_total.1|floatformat:2}}</td>
                            <td>{{costo_granos_insumos_total.2|floatformat:2}}</td>
                       </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>

</div>
</div>
  </section>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
    var flag = true;
    $(document).ready(function(){
        $('#mas').click(function(){
            if(flag==true){
                $('.botonera').slideDown('slow');
                $('#estado').html('<span><i class="fa fa-arrow-up"></i></span>');
                flag = false;
            }else if (flag==false){
                $('.botonera').slideUp('slow');
                $('#estado').html('<span><i class="fa fa-arrow-down"></i></span>');
                flag = true;
            }
            return false;
            });
        });
</script>
{% endblock extra_js %}
