{% extends "base.html" %}

{% load tools %}

{% block content %}
  <section class="jumbotron text-center">
    <div class="container">
        <div class="btn-group">
            <ol class="breadcrumb hide-phone p-0 m-0">
                <li class="breadcrumb-item">
                    <a href="/">Inicio</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'linea-consulta' %}">Consultar</a>
                </li>
            </ol>
        </div>
    <p>Numero de familas {{num_familias}}</p>
    <div class="collapse navbar-collapse" id="navbarText">
        <span class="navbar-text">
           <div id="mas" class=" btnindicador">
                <a href="">
                    <span id="estado">
                    <span><i class="fa fa-arrow-down"></i></span>
                    </span> Cambiar de Indicador
                </a>
            </div>
        </span>
      </div>
      <div class="row">
        <div id="mostrar">
            {% include "ficha/menu.html" %}
        </div>
    </div>

    </div>
  </section>

  <section>
<div class="row mb-20">
<div class="container">
    {% include "ficha/filtros.html" %}
    <div class="card-admin bg-white">
        <div class="card-body">
            <div class="col-md-12 col-lg-12">
                <h4 class="title line-bottom mb-10">Diseño de parcelas || Número total de parcelas: <strong>{{numero_total_parcela}}</strong></h4>
                <table class="table table-bordered big-table">
                    <thead class="bg-theme-colored-darker3">
                        <tr>
                            <th class="text-center">CACAO</th>
                            <th colspan="6" class="text-center">Cantidades por ha</th>
                        </tr>
                        <tr>
                            <th>Variedad</th>
                            <th>Minimo</th>
                            <th>Maximo</th>
                            <th>Promedio</th>
                            <th>Mediana</th>
                            <th># Familias</th>
                            <th>%</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for k, v in cacao.items %}
                        <tr>
                            <td>{{k}}</td>
                            <td>{{v.0|floatformat:1}}</td>
                            <td>{{v.1|floatformat:1}}</td>
                            <td>{{v.2|floatformat:1}}</td>
                            <td>{{v.3|floatformat:1}}</td>
                            <th>{{v.4}}</th>
                            <td>{{v.4|calcular_frecuencia:num_familias}} %</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <table class="table table-bordered big-table">
                    <thead class="bg-theme-colored-darker3">
                        <tr>
                            <th class="text-center">CAFÉ</th>
                            <th colspan="6" class="text-center">Cantidades por ha</th>
                        </tr>
                        <tr>
                            <th>Variedad</th>
                            <th>Minimo</th>
                            <th>Maximo</th>
                            <th>Promedio</th>
                            <th>Mediana</th>
                            <th># Familias</th>
                            <th>%</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for k, v in cafe.items %}
                        <tr>
                            <td>{{k}}</td>
                            <td>{{v.0|floatformat:1}}</td>
                            <td>{{v.1|floatformat:1}}</td>
                            <td>{{v.2|floatformat:1}}</td>
                            <td>{{v.3|floatformat:1}}</td>
                            <th>{{v.4}}</th>
                            <td>{{v.4|calcular_frecuencia:num_familias}} %</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <table class="table table-bordered big-table">
                    <thead class="bg-theme-colored-darker3">
                        <tr>
                            <th class="text-center">MUSACEAS</th>
                            <th colspan="6" class="text-center">Cantidades por ha</th>
                        </tr>
                        <tr>
                            <th>Variedad</th>
                            <th>Minimo</th>
                            <th>Maximo</th>
                            <th>Promedio</th>
                            <th>Mediana</th>
                            <th># Familias</th>
                            <th>%</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for k, v in musaceas.items %}
                        <tr>
                            <td>{{k}}</td>
                            <td>{{v.0|floatformat:1}}</td>
                            <td>{{v.1|floatformat:1}}</td>
                            <td>{{v.2|floatformat:1}}</td>
                            <td>{{v.3|floatformat:1}}</td>
                            <th>{{v.4}}</th>
                            <td>{{v.4|calcular_frecuencia:num_familias}} %</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <table class="table table-bordered big-table">
                    <thead class="bg-theme-colored-darker3">
                        <tr>
                            <th class="text-center">FRUTALES</th>
                            <th colspan="6" class="text-center">Cantidades por ha</th>
                        </tr>
                        <tr>
                            <th>Variedad</th>
                            <th>Minimo</th>
                            <th>Maximo</th>
                            <th>Promedio</th>
                            <th>Mediana</th>
                            <th># Familias</th>
                            <th>%</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for k, v in frutales.items %}
                        <tr>
                            <td>{{k}}</td>
                            <td>{{v.0|floatformat:1}}</td>
                            <td>{{v.1|floatformat:1}}</td>
                            <td>{{v.2|floatformat:1}}</td>
                            <td>{{v.3|floatformat:1}}</td>
                            <th>{{v.4}}</th>
                            <td>{{v.4|calcular_frecuencia:num_familias}} %</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <table class="table table-bordered big-table">
                    <thead class="bg-theme-colored-darker3">
                        <tr>
                            <th class="text-center">MADERABLES</th>
                            <th colspan="6" class="text-center">Cantidades por ha</th>
                        </tr>
                        <tr>
                            <th>Variedad</th>
                            <th>Minimo</th>
                            <th>Maximo</th>
                            <th>Promedio</th>
                            <th>Mediana</th>
                            <th># Familias</th>
                            <th>%</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for k, v in maderables.items %}
                        <tr>
                            <td>{{k}}</td>
                            <td>{{v.0|floatformat:1}}</td>
                            <td>{{v.1|floatformat:1}}</td>
                            <td>{{v.2|floatformat:1}}</td>
                            <td>{{v.3|floatformat:1}}</td>
                            <th>{{v.4}}</th>
                            <td>{{v.4|calcular_frecuencia:num_familias}} %</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <table class="table table-bordered big-table">
                    <thead class="bg-theme-colored-darker3">
                        <tr>
                            <th class="text-center">ÁRBOLES DE SERVICIOS</th>
                            <th colspan="6" class="text-center">Cantidades por ha</th>
                        </tr>
                        <tr>
                            <th>Variedad</th>
                            <th>Minimo</th>
                            <th>Maximo</th>
                            <th>Promedio</th>
                            <th>Mediana</th>
                            <th># Familias</th>
                            <th>%</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for k, v in arboles.items %}
                        <tr>
                            <td>{{k}}</td>
                            <td>{{v.0|floatformat:1}}</td>
                            <td>{{v.1|floatformat:1}}</td>
                            <td>{{v.2|floatformat:1}}</td>
                            <td>{{v.3|floatformat:1}}</td>
                            <th>{{v.4}}</th>
                            <td>{{v.4|calcular_frecuencia:num_familias}} %</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <table class="table table-bordered big-table">
                    <thead class="bg-theme-colored-darker3">
                        <tr>
                            <th class="text-center">GRANOS BÁSICOS</th>
                            <th colspan="6" class="text-center">Cantidades por ha</th>
                        </tr>
                        <tr>
                            <th>Variedad</th>
                            <th>Minimo</th>
                            <th>Maximo</th>
                            <th>Promedio</th>
                            <th>Mediana</th>
                            <th># Familias</th>
                            <th>%</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for k, v in granos.items %}
                        <tr>
                            <td>{{k}}</td>
                            <td>{{v.0|floatformat:1}}</td>
                            <td>{{v.1|floatformat:1}}</td>
                            <td>{{v.2|floatformat:1}}</td>
                            <td>{{v.3|floatformat:1}}</td>
                            <th>{{v.4}}</th>
                            <td>{{v.4|calcular_frecuencia:num_familias}} %</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>
    </div>

</div>
</div>
  </section>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
    var flag = true;
    $(document).ready(function(){
        $('#mas').click(function(){
            if(flag==true){
                $('.botonera').slideDown('slow');
                $('#estado').html('<span><i class="fa fa-arrow-up"></i></span>');
                flag = false;
            }else if (flag==false){
                $('.botonera').slideUp('slow');
                $('#estado').html('<span><i class="fa fa-arrow-down"></i></span>');
                flag = true;
            }
            return false;
            });
        });
</script>
{% endblock extra_js %}
