{% extends "base.html" %}

{% load tools %}

{% block content %}
  <section class="jumbotron text-center">
    <div class="container">
        <div class="btn-group">
            <ol class="breadcrumb hide-phone p-0 m-0">
                <li class="breadcrumb-item">
                    <a href="/">Inicio</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'linea-consulta' %}">Consultar</a>
                </li>
            </ol>
        </div>
    <p>Numero de familas {{num_familias}}</p>

        <span class="navbar-text">
           <div id="mas" class="btnindicador">
                <a href="">
                    <span id="estado">
                    <span><i class="fa fa-arrow-down"></i></span>
                    </span> Cambiar de Indicador
                </a>
            </div>
        </span>

      <div class="row">
        <div id="mostrar">
            {% include "ficha/menu.html" %}
        </div>
    </div>

    </div>
  </section>

  <section>
<div class="row mb-20">
<div class="container">
    {% include "ficha/filtros.html" %}
    <div class="card-admin bg-white">
        <div class="card-body">
            <div class="col-md-12 col-lg-12">
                <h4 class="title line-bottom mb-10">Ingreso bruto proyectado USD/ha por año</h4>
                <ul>
                    <li>Número de parcelas: <strong>{{numero_total_parcela}}</strong></li>
                    <li>Areas de las parcelas (ha) total : <strong>{{promedio_areas|floatformat:2}} </strong></li>
                </ul>
                <table class="table table-bordered big-table">
                    <thead class="bg-theme-colored-darker3">
                        <tr>
                            <th>Ingreso neto</th>
                            <th>Frecuencia</th>
                            <th>Promedio</th>
                            <th>Mediana</th>
                            <th>Minimo</th>
                            <th>Maximo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for k,v  in ingresos.items %}
                       <tr>
                           <td>{{k}}</td>
                            <td>{{v.0}}</td>
                            <td>{{v.1|floatformat:2}}</td>
                            <td>{{v.2|floatformat:2}}</td>
                            <td>{{v.3|floatformat:2}}</td>
                            <td>{{v.4|floatformat:2}}</td>
                       </tr>
                       {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>
    </div>

</div>
</div>
  </section>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
    var flag = true;
    $(document).ready(function(){
        $('#mas').click(function(){
            if(flag==true){
                $('.botonera').slideDown('slow');
                $('#estado').html('<span><i class="fa fa-arrow-up"></i></span>');
                flag = false;
            }else if (flag==false){
                $('.botonera').slideUp('slow');
                $('#estado').html('<span><i class="fa fa-arrow-down"></i></span>');
                flag = true;
            }
            return false;
            });
        });
</script>
{% endblock extra_js %}
