<style type="text/css">
    .espacio {
        margin-bottom: 7px;
    }
    .btn-primary.custom-btn {
        background-color: #81613c;
        border-color: #000;
}
</style>
<div class="botonera">
<div class="card-box">
<div class="page-title" >Seleccione el Indicador</div>
    <hr>
        <a id="ancla" href="/descripcion/" class="btn btn-success waves-light waves-effect espacio">Descripcion de muestras</a>
        <a href="/parcela/" class="btn btn-success waves-light waves-effect espacio">Diseño de parcelas</a>
        <a href="/costos/"class="btn btn-success waves-light waves-effect espacio">Costo</a>
        <a href="/ingresos/"class="btn btn-success waves-light waves-effect espacio">Ingresos</a>
        <a href="/modelado/"class="btn btn-success waves-light waves-effect espacio"> Modelo de estimado de rentabilidad</a>
        <a href="/rentabilidad/"class="btn btn-success waves-light waves-effect espacio">Rentabilidad SAF</a>

</div>
</div>
