{% extends "base.html" %}

{% load tools %}

{% block content %}
  <section class="jumbotron text-center">
    <div class="container">
        <div class="btn-group">
            <ol class="breadcrumb hide-phone p-0 m-0">
                <li class="breadcrumb-item">
                    <a href="/">Inicio</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'linea-consulta' %}">Consultar</a>
                </li>
            </ol>
        </div>
    <p>Numero de familas {{num_familias}}</p>

        <span class="navbar-text">
           <div id="mas" class="btnindicador">
                <a href="">
                    <span id="estado">
                    <span><i class="fa fa-arrow-down"></i></span>
                    </span> Cambiar de Indicador
                </a>
            </div>
        </span>

      <div class="row">
        <div id="mostrar">
            {% include "ficha/menu.html" %}
        </div>
    </div>

    </div>
  </section>

  <section>
<div class="row mb-20">
<div class="container">
    {% include "ficha/filtros.html" %}
    <div class="card-admin bg-white">
        <div class="card-body">
            <div class="col-md-12 col-lg-12">
                <h4 class="title line-bottom mb-10">Modelo para proyectar la rentabilidad</h4>
                <table class="table table-bordered big-table">
                    <thead class="bg-theme-colored-darker3">
                        <tr>
                            <th>Año</th>
                            <th>Cacao</th>
                            <th>Café</th>
                            <th>Musaceas</th>
                             <th>Frutales</th>
                            <th>Maderables</th>
                            <th>Árboles de servicios</th>
                            <th>Granos básicos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for k,v  in modelado_costo.items %}
                       <tr>
                           <td>{{k}}</td>
                            <td>{{v.0}}</td>
                            <td>{{v.1}}</td>
                            <td>{{v.2}}</td>
                            <td>{{v.3}}</td>
                            <td>{{v.4}}</td>
                            <td>{{v.5}}</td>
                            <td>{{v.6}}</td>
                       </tr>
                       {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</div>
  </section>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
    var flag = true;
    $(document).ready(function(){
        $('#mas').click(function(){
            if(flag==true){
                $('.botonera').slideDown('slow');
                $('#estado').html('<span><i class="fa fa-arrow-up"></i></span>');
                flag = false;
            }else if (flag==false){
                $('.botonera').slideUp('slow');
                $('#estado').html('<span><i class="fa fa-arrow-down"></i></span>');
                flag = true;
            }
            return false;
            });
        });
</script>
{% endblock extra_js %}
