{% extends "base.html" %}

{% block content %}
  <section class="jumbotron text-center">
    <div class="container">
        <div class="btn-group">
            <ol class="breadcrumb hide-phone p-0 m-0">
                <li class="breadcrumb-item">
                    <a href="/">Inicio</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'linea-consulta' %}">Consultar</a>
                </li>
            </ol>
        </div>
    <p>Numero de familas {{num_familias}}</p>

    <div class="collapse navbar-collapse" id="navbarText">
        <span class="navbar-text">
           <div id="mas" class=" btnindicador">
                <a href="">
                    <span id="estado">
                    <span><i class="fa fa-arrow-down"></i></span>
                    </span> Cambiar de Indicador
                </a>
            </div>
        </span>
      </div>
      <div class="row">
        <div id="mostrar">
            {% include "ficha/menu.html" %}
        </div>
    </div>

    </div>
  </section>
  <section>
<div class="row mb-20">
<div class="container">
    {% include "ficha/filtros.html" %}
    <div class="card-admin bg-white">
        <div class="card-body">
            <div class="col-md-12 col-lg-12">
                <h4 class="title line-bottom mb-10">1. Ubicación</h4>

                <table class="table table-bordered big-table">
                    <thead class="bg-theme-colored-darker3">
                        <tr>
                            <th>Pais</th>
                            <th>Departamento</th>
                            <th>Municipio</th>
                            <th># Hombres</th>
                            <th># Mujeres</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for v in ubicacion %}
                        <tr>
                            <td>{{v.0}}</td>
                            <td>{{v.1}}</td>
                            <td>{{v.2}}</td>
                            <td>{{v.3}}</td>
                            <td>{{v.4}}</td>
                            <td>{{v.5}}</td>
                        </tr>
                        {% endfor %}
                         <tr>
                            <td>TOTAL</td>
                            <td>-----</td>
                            <td>---</td>
                            <td>{{hombres_totales}}</td>
                            <td>{{mujeres_totales}}</td>
                            <td>{{suma_totales}}</td>
                        </tr>
                    </tbody>

                </table>
            </div>

        </div>
    </div>

    <h4>2. Caracteristicas</h4>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="parcela-tab" data-toggle="tab" href="#parcela" role="tab" aria-controls="parcela" aria-selected="true">Tamaño de parcela</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="riego-tab" data-toggle="tab" href="#riego" role="tab" aria-controls="riego" aria-selected="false">Riego</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="valoracion-tab" data-toggle="tab" href="#valoracion" role="tab" aria-controls="valoracion" aria-selected="false">Valoración de suelo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="manejo-tab" data-toggle="tab" href="#manejo" role="tab" aria-controls="manejo" aria-selected="false">Tipo de manejo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="intensidad-tab" data-toggle="tab" href="#intensidad" role="tab" aria-controls="intensidad" aria-selected="false">Intensidad</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pendiente-tab" data-toggle="tab" href="#pendiente" role="tab" aria-controls="pendiente" aria-selected="false">Pendiente</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="saf-tab" data-toggle="tab" href="#saf" role="tab" aria-controls="saf" aria-selected="false">SAF</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="descripcion-tab" data-toggle="tab" href="#descripcion" role="tab" aria-controls="descripcion" aria-selected="false">Descripción SAF</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="parcela" role="tabpanel" aria-labelledby="parcela-tab">
          <div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
      </div>
      <div class="tab-pane fade" id="riego" role="tabpanel" aria-labelledby="riego-tab">
       <div id="container1" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
      </div>
      <div class="tab-pane fade" id="valoracion" role="tabpanel" aria-labelledby="valoracion-tab">
        <div id="container2" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
      </div>
      <div class="tab-pane fade" id="manejo" role="tabpanel" aria-labelledby="manejo-tab">
        <div id="container3" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
      </div>
      <div class="tab-pane fade" id="intensidad" role="tabpanel" aria-labelledby="intensidad-tab">
        <div id="container4" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
      </div>
      <div class="tab-pane fade" id="pendiente" role="tabpanel" aria-labelledby="pendiente-tab">
        <div id="container5" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
      </div>
      <div class="tab-pane fade" id="saf" role="tabpanel" aria-labelledby="saf-tab">
        <div id="container6" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
      </div>
      <div class="tab-pane fade" id="descripcion" role="tabpanel" aria-labelledby="descripcion-tab">
        <div id="container7" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
      </div>
    </div>


</div>
</div>
  </section>
{% endblock content %}

{% block extra_js %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script type="text/javascript">
    var flag = true;
    $(document).ready(function(){
        $('#mas').click(function(){
            if(flag==true){
                $('.botonera').slideDown('slow');
                $('#estado').html('<span><i class="fa fa-arrow-up"></i></span>');
                flag = false;
            }else if (flag==false){
                $('.botonera').slideUp('slow');
                $('#estado').html('<span><i class="fa fa-arrow-down"></i></span>');
                flag = true;
            }
            return false;
            });
        });
</script>
<script type="text/javascript">
    Highcharts.chart('container', {
    chart: {
        type: 'bar'
    },
    title: {
        text: '2.1 Tamaño de las parcelas'
    },
    xAxis: {
        categories: [{% for k,v in parcela.items%} "{{k}}" {% if forloop.last%}{%else%},{%endif%} {%endfor%}]
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Conteo'
        }
    },
    legend: {
        reversed: false
    },
    plotOptions: {
        series: {
            stacking: 'normal',
            dataLabels: {
                enabled: true,
                formatter: function() {
                    return this.y + ' -- ' + '(' + ((this.y/{{num_familias}}) * 100).toFixed(0) + ' %' + ')';
                                      },
            }
        }
    },
    series: [{
        data: [{% for k,v in parcela.items%} {{v}} {% if forloop.last%}{%else%},{%endif%} {%endfor%}]
    },
    ]
});
</script>
<script type="text/javascript">
    Highcharts.chart('container1', {
    chart: {
        type: 'bar'
    },
    title: {
        text: '2.2 Riego'
    },
    xAxis: {
        categories: [{% for k,v in riego.items%} "{{k}}" {% if forloop.last%}{%else%},{%endif%} {%endfor%}]
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Conteo'
        }
    },
    legend: {
        reversed: false
    },
    plotOptions: {
        series: {
            stacking: 'normal',
            dataLabels: {
                enabled: true,
                formatter: function() {
                    return this.y + ' -- ' + '(' + ((this.y/{{num_familias}}) * 100).toFixed(0) + ' %' + ')';
                                      },
            }
        }
    },
    series: [{
        data: [{% for k,v in riego.items%} {{v}} {% if forloop.last%}{%else%},{%endif%} {%endfor%}]
    },
    ]
});
</script>
<script type="text/javascript">
    Highcharts.chart('container2', {
    chart: {
        type: 'bar'
    },
    title: {
        text: '2.3 Valoración de suelo'
    },
    xAxis: {
        categories: [{% for k,v in valoracion.items%} "{{k}}" {% if forloop.last%}{%else%},{%endif%} {%endfor%}]
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Conteo'
        }
    },
    legend: {
        reversed: false
    },
    plotOptions: {
        series: {
            stacking: 'normal',
            dataLabels: {
                enabled: true,
                formatter: function() {
                    return this.y + ' -- ' + '(' + ((this.y/{{num_familias}}) * 100).toFixed(0) + ' %' + ')';
                                      },
            }
        }
    },
    series: [{
        data: [{% for k,v in valoracion.items%} {{v}} {% if forloop.last%}{%else%},{%endif%} {%endfor%}]
    },
    ]
});
</script>
<script type="text/javascript">
    Highcharts.chart('container3', {
    chart: {
        type: 'bar'
    },
    title: {
        text: '2.4 Tipo de manejo'
    },
    xAxis: {
        categories: [{% for k,v in manejo.items%} "{{k}}" {% if forloop.last%}{%else%},{%endif%} {%endfor%}]
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Conteo'
        }
    },
    legend: {
        reversed: false
    },
    plotOptions: {
        series: {
            stacking: 'normal',
            dataLabels: {
                enabled: true,
                formatter: function() {
                    return this.y + ' -- ' + '(' + ((this.y/{{num_familias}}) * 100).toFixed(0) + ' %' + ')';
                                      },
            }
        }
    },
    series: [{
        data: [{% for k,v in manejo.items%} {{v}} {% if forloop.last%}{%else%},{%endif%} {%endfor%}]
    },
    ]
});
</script>
<script type="text/javascript">
    Highcharts.chart('container4', {
    chart: {
        type: 'bar'
    },
    title: {
        text: '2.5 Intensidad de manejo'
    },
    xAxis: {
        categories: [{% for k,v in intensidad.items%} "{{k}}" {% if forloop.last%}{%else%},{%endif%} {%endfor%}]
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Conteo'
        }
    },
    legend: {
        reversed: false
    },
    plotOptions: {
        series: {
            stacking: 'normal',
            dataLabels: {
                enabled: true,
                formatter: function() {
                    return this.y + ' -- ' + '(' + ((this.y/{{num_familias}}) * 100).toFixed(0) + ' %' + ')';
                                      },
            }
        }
    },
    series: [{
        data: [{% for k,v in intensidad.items%} {{v}} {% if forloop.last%}{%else%},{%endif%} {%endfor%}]
    },
    ]
});
</script>
<script type="text/javascript">
    Highcharts.chart('container5', {
    chart: {
        type: 'bar'
    },
    title: {
        text: '2.6 Pendiente'
    },
    xAxis: {
        categories: [{% for k,v in pendiente.items%} "{{k}}" {% if forloop.last%}{%else%},{%endif%} {%endfor%}]
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Conteo'
        }
    },
    legend: {
        reversed: false
    },
    plotOptions: {
        series: {
            stacking: 'normal',
            dataLabels: {
                enabled: true,
                formatter: function() {
                    return this.y + ' -- ' + '(' + ((this.y/{{num_familias}}) * 100).toFixed(0) + ' %' + ')';
                                      },
            }
        }
    },
    series: [{
        data: [{% for k,v in pendiente.items%} {{v}} {% if forloop.last%}{%else%},{%endif%} {%endfor%}]
    },
    ]
});
</script>
<script type="text/javascript">
    Highcharts.chart('container6', {
    chart: {
        type: 'bar'
    },
    title: {
        text: '2.7 Tipo de SAF'
    },
    xAxis: {
        categories: [{% for k,v in tipo_saf.items%} "{{k}}" {% if forloop.last%}{%else%},{%endif%} {%endfor%}]
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Conteo'
        }
    },
    legend: {
        reversed: false
    },
    plotOptions: {
        series: {
            stacking: 'normal',
            dataLabels: {
                enabled: true,
                formatter: function() {
                    return this.y + ' -- ' + '(' + ((this.y/{{num_familias}}) * 100).toFixed(0) + ' %' + ')';
                                      },
            }
        }
    },
    series: [{
        data: [{% for k,v in tipo_saf.items%} {{v}} {% if forloop.last%}{%else%},{%endif%} {%endfor%}]
    },
    ]
});
</script>
<script type="text/javascript">
    Highcharts.chart('container7', {
    chart: {
        type: 'column'
    },
    title: {
        text: '2.8 Descripción SAF'
    },
    xAxis: {
        categories: [{% for k,v in descripcion_saf.items%} "{{k}}" {% if forloop.last%}{%else%},{%endif%} {%endfor%}]
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Conteo'
        }
    },
    legend: {
        reversed: false
    },
    plotOptions: {
        series: {
            stacking: 'normal',
            dataLabels: {
                enabled: true,
                formatter: function() {
                    return this.y + ' -- ' + '(' + ((this.y/{{num_familias}}) * 100).toFixed(0) + ' %' + ')';
                                      },
            }
        }
    },
    series: [{
        data: [{% for k,v in descripcion_saf.items%} {{v}} {% if forloop.last%}{%else%},{%endif%} {%endfor%}]
    },
    ]
});
</script>
{% endblock extra_js %}
