{% extends "base.html" %}

{% load tools %}
{% load humanize %}

{% block content %}
<style type="text/css">

</style>
  <section class="jumbotron text-center">
    <div class="container">
        <div class="btn-group">
            <ol class="breadcrumb hide-phone p-0 m-0">
                <li class="breadcrumb-item">
                    <a href="/">Inicio</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'linea-consulta' %}">Consultar</a>
                </li>
            </ol>
        </div>
    <p>Numero de familas {{num_familias}}</p>

        <span class="navbar-text">
           <div id="mas" class="btnindicador">
                <a href="">
                    <span id="estado">
                    <span><i class="fa fa-arrow-down"></i></span>
                    </span> Cambiar de Indicador
                </a>
            </div>
        </span>

      <div class="row">
        <div id="mostrar">
            {% include "ficha/menu.html" %}
        </div>
    </div>

    </div>
  </section>

  <section>
<div class="container">
    <div class="row">
        <div class="col-sm-3 px-1">
            <div class="py-2 sticky-top flex-grow-1">
                {% include "ficha/consulta_form.html" %}
            </div>
        </div>
        <div class="col" id="main">
            {% include "ficha/filtros.html" %}
                <ul>
                    <li>Número de parcelas: <strong>{{numero_total_parcela}}</strong></li>
                    <li>Areas de las parcelas (ha) total: <strong>{{promedio_areas|floatformat:2}}</strong> </li>
                </ul>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="parcela-tab" data-toggle="tab" href="#parcela" role="tab" aria-controls="parcela" aria-selected="true">Inversión</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="riego-tab" data-toggle="tab" href="#riego" role="tab" aria-controls="riego" aria-selected="false">Ingreso neto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="valoracion-tab" data-toggle="tab" href="#valoracion" role="tab" aria-controls="valoracion" aria-selected="false">Finanzas</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="parcela" role="tabpanel" aria-labelledby="parcela-tab">

                    <div class="col6">
                        <h4 class="title line-bottom mb-10">
                        Inversión proyectada por $/ha por años
                        </h4>
                        <div class="table-responsive">
                        <table class="table table-bordered table-striped mb-0">
                            <thead class="bg-theme-colored-darker3">
                                <tr>
                                    <th>Año</th>
                                    <th>Cacao</th>
                                    <th>Café</th>
                                    <th>Musaceas</th>
                                    <th>Frutales</th>
                                    <th>Maderables</th>
                                    <th>Árboles de servicios</th>
                                    <th>Granos básicos</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for k,v  in modelado_inversion.items %}
                               <tr>
                                   <td>{{k}}</td>
                                    <td>{{v.0|floatformat:2}}</td>
                                    <td>{{v.1|floatformat:2}}</td>
                                    <td>{{v.2|floatformat:2}}</td>
                                    <td>{{v.3|floatformat:2}}</td>
                                    <td>{{v.4|floatformat:2}}</td>
                                    <td>{{v.5|floatformat:2}}</td>
                                    <td>{{v.6|floatformat:2}}</td>
                                    <td>{{v.7|floatformat:2}}</td>
                               </tr>
                               {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    </div>


      </div>
      <div class="tab-pane fade" id="riego" role="tabpanel" aria-labelledby="riego-tab">


                    <div class="col6">
                        <h4 class="title line-bottom mb-10">
                        Ingreso neto proyectado por $/ha por años
                        </h4>
                        <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead class="bg-theme-colored-darker3">
                                <tr>
                                    <th>Año</th>
                                    <th>Cacao</th>
                                    <th>Café</th>
                                    <th>Musaceas</th>
                                    <th>Frutales</th>
                                    <th>Maderables</th>
                                    <th>Árboles de servicios</th>
                                    <th>Granos básicos</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for k,v  in modelado_ingreso.items %}
                               <tr>
                                   <td>{{k}}</td>
                                    <td>{{v.0|floatformat:2}}</td>
                                    <td>{{v.1|floatformat:2}}</td>
                                    <td>{{v.2|floatformat:2}}</td>
                                    <td>{{v.3|floatformat:2}}</td>
                                    <td>{{v.4|floatformat:2}}</td>
                                    <td>{{v.5|floatformat:2}}</td>
                                    <td>{{v.6|floatformat:2}}</td>
                                    <td>{{v.7|floatformat:2}}</td>
                               </tr>
                               {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    </div>


      </div>
      <div class="tab-pane fade" id="valoracion" role="tabpanel" aria-labelledby="valoracion-tab">
        <div class="row">
            <div class="col-6">
            <h4 class="sub-header">Tasa Interna de retorno para 25 años con Tasa de referencia 10%</h4>
              <div class="table-responsive">
                        <table class="table table-bordered table-striped mb-0">
                            <thead class="bg-theme-colored-darker3">
                                <tr>
                                    <th>Rubros</th>
                                    <th>Porcentajes</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for k,v  in modelado_tir.items %}
                               <tr>
                                   <td>{{k}}</td>
                                    <td>{{v|floatformat:2}} %</td>
                               </tr>
                               {% endfor %}
                            </tbody>
                        </table>
                      </div>
            </div>
          <div class="col-6">
                <h4 class="sub-header">Valor Presente Neto para 25 años con Tasa de referencia 10%</h4>
                <div class="table-responsive">
                <table class="table table-bordered table-striped mb-0">
                            <thead class="bg-theme-colored-darker3">
                                <tr>
                                    <th>Rubros</th>
                                    <th>$</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for k,v  in modelado_sistema.items %}
                               <tr>
                                   <td>{{k}}</td>
                                    <td>{{v|floatformat:2|intcomma}}</td>
                               </tr>
                               {% endfor %}
                            </tbody>
                    </table>
                </div>
        </div>
    </div>


      </div>

    </div>

        </div>
    </div>
</div>
  </section>

{% endblock content %}

{% block extra_js %}
<link href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript">
jQuery(document).ready(function () {
    // Select2
    $(".select2").select2();
    $('#id_fecha').select2();
});

$("#id_productor").autocomplete({
    source: '{% url "productor-search"%}',
    minLength: 2,
  });
$('#id_nexturl').val(window.location.href);
{% if request.session.fecha %}
        $('#id_fecha').val({% for x in request.session.fecha %} {{x}} {%endfor%});
{% endif %}
{% if request.session.pais %}
        $('#id_pais').val({{request.session.pais.id}});
{% endif %}
{% if request.session.modelo %}
        $('#id_modelo').val({{request.session.modelo.id}});
{% endif %}
{% if request.session.parcela %}
        $('#id_parcela').val({{request.session.parcela}});
{% endif %}
{% if request.session.manejo %}
        $('#id_manejo').val({{request.session.manejo}});
{% endif %}
{% if request.session.intensidad %}
        $('#id_intensidad').val({{request.session.intensidad}});
{% endif %}
{% if request.session.riego %}
        $('#id_riego').val({{request.session.riego}});
{% endif %}
{% if request.session.saf %}
        $('#id_saf').val({{request.session.saf}});
{% endif %}
{% if request.session.valoracion %}
        $('#id_valoracion').val({{request.session.valoracion}});
{% endif %}
{% if request.session.sexo %}
        $('#id_sexo').val({{request.session.sexo}});
{% endif %}
</script>
<script type="text/javascript">
    var flag = true;
    $(document).ready(function(){
        $('#mas').click(function(){
            if(flag==true){
                $('.botonera').slideDown('slow');
                $('#estado').html('<span><i class="fa fa-arrow-up"></i></span>');
                flag = false;
            }else if (flag==false){
                $('.botonera').slideUp('slow');
                $('#estado').html('<span><i class="fa fa-arrow-down"></i></span>');
                flag = true;
            }
            return false;
            });
        });
</script>
{% endblock extra_js %}
