.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

label { display: block; }

/* =============
   Form Advanced
============= */
/* Select 2 */
.select2-container {
  width: 100% !important; }
  .select2-container .select2-selection--single {
    border: 1px solid #e0e8ed;
    height: 38px; }
    .select2-container .select2-selection--single .select2-selection__rendered {
      line-height: 36px;
      padding-left: 12px; }
    .select2-container .select2-selection--single .select2-selection__arrow {
      height: 34px;
      width: 34px;
      right: 3px; }
      .select2-container .select2-selection--single .select2-selection__arrow b {
        border-color: #b2c5d3 transparent transparent transparent;
        border-width: 6px 6px 0 6px; }

.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #b2c5d3 transparent !important;
  border-width: 0 6px 6px 6px !important; }

.select2-results__option {
  padding: 6px 12px; }

.select2-dropdown {
  border: 1px solid #d3dee6;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02); }

.select2-container--default .select2-search--dropdown {
  padding: 10px;
  background-color: #f3f6f8; }
  .select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #d3dee6; }
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #424859; }
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #e3eaef;
  color: #313a46; }
  .select2-container--default .select2-results__option[aria-selected=true]:hover {
    background-color: #424859;
    color: #ffffff; }

.select2-container .select2-selection--multiple {
  min-height: 38px;
  border: 1px solid #d3dee6 !important; }
  .select2-container .select2-selection--multiple .select2-selection__rendered {
    padding: 2px 10px; }
  .select2-container .select2-selection--multiple .select2-search__field {
    margin-top: 7px;
    border: 0; }
  .select2-container .select2-selection--multiple .select2-selection__choice {
    background-color: #424859;
    border: 1px solid transparent;
    color: #ffffff;
    border-radius: 3px;
    padding: 0 7px; }
  .select2-container .select2-selection--multiple .select2-selection__choice__remove {
    color: #ffffff;
    margin-right: 5px; }
    .select2-container .select2-selection--multiple .select2-selection__choice__remove:hover {
      color: #ffffff; }

/* AUTOCOMPLETE */
.autocomplete-suggestions {
  border: 1px solid #e3eaef;
  background: #ffffff;
  cursor: default;
  overflow: auto;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02); }

.autocomplete-suggestion {
  padding: 5px 8px;
  white-space: nowrap;
  overflow: hidden; }

.autocomplete-no-suggestion {
  padding: 5px 10px;
  color: #f1556c; }

.autocomplete-selected {
  background-color: #424859;
  color: #ffffff;
  cursor: pointer; }
  .autocomplete-selected strong {
    color: #ffffff !important; }

.autocomplete-suggestions strong {
  font-weight: bold;
  color: #313a46; }

.autocomplete-group {
  padding: 2px 5px; }

.autocomplete-group strong {
  font-weight: bold;
  font-size: 16px;
  color: #313a46;
  display: block; }

/* Bootstrap tagsinput */
.bootstrap-tagsinput {
  box-shadow: none;
  padding: 3px 7px 5px;
  width: 100%;
  line-height: 1;
  border: 1px solid #d3dee6; }
  .bootstrap-tagsinput .label-info {
    background-color: #424859;
    display: inline-block;
    padding: 4px 8px;
    font-size: 13px;
    margin: 3px 1px;
    border-radius: 3px; }

/* Bootstrap select */
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100% !important; }

.bootstrap-select .dropdown-toggle:focus {
  outline: none !important; }
.bootstrap-select .glyphicon {
  padding-right: 6px; }

.bootstrap-select.show > .dropdown-menu > .dropdown-menu {
  display: block; }

.bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden {
  display: none; }

.bootstrap-select > .dropdown-menu > .dropdown-menu li a {
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  color: #313a46;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0; }
  .bootstrap-select > .dropdown-menu > .dropdown-menu li a:hover {
    background-color: #424859;
    color: #ffffff; }

.bootstrap-select .check-mark::after {
  content: "\F12C";
  font-family: "Material Design Icons"; }

.bootstrap-select button {
  overflow: hidden;
  text-overflow: ellipsis; }

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
  margin-top: 0; }

.bootstrap-select.btn-group .no-results {
  background-color: #ffffff;
  color: #f1556c; }

/* X Editable */
.editable-checklist label {
  display: block; }

.editable-click, a.editable-click, a.editable-click:hover {
  color: #424859; }

/* Bootstrap Fileupload */
.bootstrap-filestyle .group-span-filestyle .btn {
  min-height: 38px;
  line-height: 24px; }

/* =============
   Form Validation
============= */
.mover {
  margin: -2px -70px 0px 135px;
}
