{% extends "base.html" %}

{% block content %}
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Análisis económico </h1>
      <p class="lead text-muted">Para determinar la rentabilidad de
                                                        SAF Cacao en El Salvador.</p>
    <p class="lead text-muted">
      Esta información generada con datos de 60 parcelas que representan el universo
respetando las diferentes categorías (Zona, Riego, Tamaño de parcela, Intensidad de
manejo y Tipología SAF) es un insumo para la evaluación final de la primera fase y
planificación de la segunda fase de implementación del Proyecto Alianza Cacao.
    </p>
      <p>
        <a href="/consultar/" class="btn btn-primary my-2">Consultar</a>
        <a href="/admin" class="btn btn-secondary my-2">Administracion</a>
      </p>
    </div>
  </section>

  <div class="py-5 bg-light">
    <div class="container">
      <div class="row">

        <div class="col-md-2 mover">
          <img src="/static/img/CRS_RGB.png" height="60" width="96">
        </div>
        <div class="col-md-2">
          <img src="/static/img/WCF_Logo.png" height="55" width="174">
        </div>
        <div class="col-md-2">
          <img src="/static/img/Feed_the_future.jpeg" height="50" width="194">
        </div>
        <div class="col-md-2">
          <img src="/static/img/USAID.png" height="55" width="177">
        </div>
        <div class="col-md-2">
          <img src="/static/img/Rikolto.png" height="80" width="142">
        </div>
        <div class="col-md-2">
        </div>

      </div> <!-- el row -->
    </div> <!-- el container -->
  </div> <!-- el  py-5 bg-light -->
{% endblock content %}
